<div>
    <h3 class="alert alert-success d-flex justify-content-center">Create Flight</h3>
    <input type="text" class="form-control mb-2" placeholder="Flight Name" [(ngModel)]="flight.flightname">
    <input type="text" class="form-control mb-2" placeholder="Travelling From" [(ngModel)]="flight.from">
    <input type="text" class="form-control mb-2" placeholder="Going To" [(ngModel)]="flight.to">
    <input type="date" class="date" placeholder="date" class="form-control mb-2" [(ngModel)]="flight.date">
    <input type="number" class="form-control mb-2" placeholder="Fare Price" min=10 [(ngModel)]="flight.fare">
    <div class="text-center">
        <button class="btn btn-success w-25" (click)="addflight()">Submit</button>
    </div>
</div>
